@use './../vars.scss';
@use './../mixins.scss';

.contentCol {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixins.responsive-gap;

  &__item {
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    min-width: 20rem;
    height: auto;
    @include mixins.item-style;

    &:hover {
      background-color: vars.$gray;
      transform: scale(1.1);
    }

    &-title {
      margin-bottom: 1.1rem;
      @include mixins.title-info-style;
    }

    &-info {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      @include mixins.title-info-style;
    }
  }
}

.contentGrid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include mixins.responsive-gap;

  &__item {
    font-size: 1rem;
    height: 100%;
    min-height: 11rem;
    @include mixins.item-style;

		@media (width <= vars.$tableWidth) {
			font-size: 0.8rem;
		}

    &-title {
      flex-direction: column;
      margin-bottom: 1rem;
      @include mixins.title-info-style;
    }
		
    &-info {
			flex-direction: column;
      gap: 8px;
      @include mixins.title-info-style;
    }
  }
}

.noResults {
  font-weight: bold;
  font-size: 10rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  animation: pulse 0.8s infinite ease-in-out;
}

.load {
  position: fixed;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1000;
}

.scroll-to-top {
	position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: vars.$grayTransparent;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  cursor: pointer;
  transition: 400ms;
	@include mixins.flex-center;

  &:hover {
    background-color: rgb(114, 114, 114);
		transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
