@use './../vars.scss';
@use './../mixins.scss';

.header {
  @include mixins.responsive-gap;
  border-bottom: 3px double #c7c6c6;
  display: flex;
  align-items: center;
	padding: 0.5rem 1rem;
  width: 100%;

	@media (width <= vars.$tableWidth) {
    flex-direction: column;
  }

  &__logo {
		width: fit-content;
		text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 5px;
    word-spacing: 7px;
    background: linear-gradient(90deg, #ff0000, #ffffff 40%, #6a0dad, #ff0000);
    background-color: cover;
    background-clip: text;
    background-size: 200%;
    color: transparent;
    animation: animTitle 10s linear infinite;
  }
	
  &__filters {
		display: flex;
    @include mixins.responsive-gap;
    flex-wrap: wrap; 
    flex-grow: 1;

    &-param {
			flex: 1;
      min-width: 5rem;
      color: black;
      border-radius: 3px;
      border-bottom: 3px solid white;
      text-align: center;
      background-color: vars.$grayTransparent;
      appearance: textfield;
      transition-duration: 400ms;

      &:hover,
      &:focus {
        border-bottom: 3px solid rgb(18, 212, 202);
      }

      &_isError {
        background-color: #a51414;
        font-weight: bold;
        transition: background-color 0.5s ease, border 0.5s ease;
      }
    }
  }

  &__actions {
    width: fit-content;
    @include mixins.flex-center;
    @include mixins.responsive-gap;
  }
}

@keyframes animTitle {
  to {
    background-position: 200% 0;
  }
}